# Activity 1.02
Student: DC427182

In [64]:
# 01:  importing pandas with an alias
import pandas as pd

In [66]:
# 02: loading the dataset
dataset = pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial03/Datasets/forestfires.csv', index_col=0)
dataset.shape

(517, 12)

In [68]:
# 03: checking the first 2 rows of the dataset
dataset.head(2)

   Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
X
7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

**Derive insights from the sizes of forest fires**

In [71]:
# 04: filter entries with area larger than 0
f_dataset=dataset[dataset['area'] > 0]
f_dataset

    Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
X
9   9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0   0.36
1   4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0   0.43
2   5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0   0.47
1   2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0   0.55
8   6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
.. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
5   4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
6   5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
4   3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
2   4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
7   4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16

[270 rows x 12 columns]

In [73]:
# 05: calculating mean, min, max, and std of the area
print("Mean=",f_dataset['area'].mean())
print("Min=",f_dataset['area'].min())
print("Max=",f_dataset['area'].max())
print("Std=",f_dataset['area'].std())

Mean= 24.600185185185182
Min= 0.09
Max= 1090.84
Std= 86.50163460412125

In [75]:
# 06: sorting the filtered dataset using the area
f_dataset.sort_values('area').tail(20)

   Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
X
6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0    61.13
4  6   sep  sun  93.5  149.3  728.6   8.1  28.3  26   3.1   0.0    64.10
9  4   jun  sat  90.5   61.1  252.6   9.4  24.5  50   3.1   0.0    70.32
1  3   sep  sun  91.0  276.3  825.1   7.1  21.9  43   4.0   0.0    70.76
8  6   aug  sat  92.2   81.8  480.8  11.9  16.4  43   4.0   0.0    71.30
1  4   aug  wed  91.7  191.4  635.9   7.8  19.9  50   4.0   0.0    82.75
7  6   jul  tue  93.1  180.4  430.8  11.0  26.9  28   5.4   0.0    86.45
4  4   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0    88.49
1  5   sep  sun  93.5  149.3  728.6   8.1  27.8  27   3.1   0.0    95.18
6  4   sep  tue  91.0  129.5  692.6   7.0  18.7  43   2.7   0.0   103.39
9  4   sep  tue  84.4   73.4  671.9   3.2  24.3  36   3.1   0.0   105.66
4  5   sep  sat  92.5  121.1  674.4   8.6  17.7  25   3.1   0.0   154.88
2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0   196.48
2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53
8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84

In [77]:
# 07: calculating the median of the area and visually compare it to the mean value
print("Median=",f_dataset['area'].median())
print("Mean=",f_dataset['area'].mean())
print("The mean could be influenced by big values that are not representative for the whole dataset.")

Median= 6.37
Mean= 24.600185185185182
The mean could be influenced by big values that are not representative for the whole dataset.

**Finding the month with the most forest fires**

In [80]:
# 08: getting a list of unique values from the month column
f_dataset['month'].unique()

array(['jul', 'sep', 'aug', 'mar', 'jun', 'apr', 'oct', 'feb', 'dec',
       'may'], dtype=object)

In [82]:
# 09: getting the number of entries for the month of March using shape 
f_dataset[f_dataset['month'] == 'mar'].shape[0]

19

In [84]:
# 10: iterating over all the months, filter our dataset for the rows containing the given month, and calculate the mean temperature.
# print a statement with the number of fires, the mean temperature, and the month.
for month in f_dataset['month'].unique():
    month_data = f_dataset[f_dataset['month'] == month]
    print(f"{month} \n fires: {month_data.shape[0]} \n mean temperature: {month_data['temp'].mean()}")

jul
 fires: 18
 mean temperature: 22.866666666666667
sep
 fires: 97
 mean temperature: 19.62474226804124
aug
 fires: 99
 mean temperature: 22.397979797979797
mar
 fires: 19
 mean temperature: 12.936842105263157
jun
 fires: 8
 mean temperature: 21.5625
apr
 fires: 4
 mean temperature: 9.05
oct
 fires: 5
 mean temperature: 18.119999999999997
feb
 fires: 10
 mean temperature: 7.76
dec
 fires: 9
 mean temperature: 4.522222222222222
may
 fires: 1
 mean temperature: 18.0